#mainPage {
  width: 100%;
  position: relative;
  padding-bottom: 150px;

  #logoutButton {
    position: absolute;
    font-family: Roboto;
    font-size: 16px;
    line-height: 22px;
    padding: 8px 16px;
    background: transparent;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 8px;
    color: white;
    top: 32px;
    right: 80px;
    cursor: pointer;
    transition: ease 100ms;
    img {
      display: none;
    }
  }

  #logoutButton:hover {
    background: rgb(72, 33, 123);
  }
}

@media (max-width: 650px) {
  #mainPage {
    #logoutButton {
      border: none;
      top: 12px;
      padding: 0;
      right: 16px;
      img {
        display: block;
      }
      p {
        display: none;
      }
    }
  }
}
