#mainPage {
  width: 100%;
  position: relative;

  button {
    position: absolute;
    top: 0;
  }

  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    gap: 16px;
    background: rgba(81, 38, 137, 1);
    height: 245px;
    color: white;
    text-align: center;

    h1 {
      font-size: 64px;
      font-weight: 300;
      line-height: 75px;
    }

    h2 {
      display: flex;
      white-space: pre-wrap;
      font-weight: 400;
      font-size: 20px;
      line-height: 23.44px;
      color: rgba(248, 248, 248, 1);
      max-width: 846px;
    }
  }
}
